body{
    border: 10px groove rgb(61, 221, 61);
    margin: 0;
    background-image: url(./nature.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.menucontainer{
    display: flex;
}
.box{
    border: 5px solid red;
    background-color: black;
    border-radius: 40px;
    color: white;
    font-style: italic;
    font-size: 30px;
}
.left{
    width: 400px;
    height: 120px;
    padding: 20px 0px 0px 20px;
    margin: 30px;
}
.mid{
    width: 333px;
    height: 38px;
    padding: 37px 0px 0px 130px;
    margin-top: 37px;
    margin-left: -223px;
}
.righ{
    width: 300px;
    height: 120px;
    border: 5px solid red;
    background-color: black;
    border-radius: 40px;
    color: white;
    font-style: italic;
    font-size: 20px;
    padding: 0px 0px 26px 79px;
    margin: 30px 0px 0px 204px;
}
.contentform{
    display: flex;
}
.circletext{
    margin-top: 111px;
}
.circle{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: aqua;
    border: 5px solid gray;
    margin: 200px 0px 0px 40px;
    font-size: 20px;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
    line-height: 30px;
}

.form{
    width: 320px;
    height: 600px;
    border: 5px dashed red;
    background-color: white;
    text-align: center;
    margin: 50px 0px 0px 350px;
    color: tomato;
}
input{
    text-align: center;
}
.MEM{
    width: 272px;
    height: 42px;
    border: 5px solid red;
    background-color: black;
    border-radius: 40px;
    color: white;
    font-style: italic;
    font-size: 30px;
    margin-top: 57px;
    position: relative;
    left: 35%;
    padding: 10px 0px 0px 154px;
}
.lowerContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.menuBox{
    width: 353px;
    height: 288px;
    border: 3px solid gray;
    background-color: aqua;
    margin-bottom: 50px;
    margin-top: 50px;
    border-radius: 40px;
    text-align: center;
}
.lastbox{
    width: 353px;
    height: 341px;
}
.menulist{
    line-height: 20px;

}
